:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

  body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* background-color: rgb(89, 89, 89); */
  }
  
  #container {
    display: grid;
    justify-content: center;
    border: 2px solid black;
    box-sizing: content-box;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr); /* 1fr */
    margin-top: 2em;
    width: 600px;
    height: 600px;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reset {
    background-color: #468499;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .grid-item {
    display: flex;
    padding: 3px;
    border: 1px solid #ddd;
    max-height: inherit;
  }